:root {
  --color-principal: #730e47;
}

*,body,html{
    padding:0px;
    margin:0px;
}

body{
    background-color: #f4f4f4;
    font-family: 'Roboto', sans-serif;
}

#menu{
    background:#fff;
    padding:20px 40px;
    display:flex;
    justify-content: space-between;
    align-items:center;
    margin-bottom:2rem;
}

#menu a{
    text-decoration: none;
    color: var(--color-principal);
}

header h1{
    text-align: center;
}

.table{
    width: 70%;    
}

#user-table{
    border-collapse: collapse;
    width: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
     background-color: #fff;
}

#user-table th{
    background:var(--color-principal);
    color:white;
    padding: 8px;
    text-align:left;
    border-bottom: 1px solid #dddddd;
}

#user-table td{
    border-bottom: 1px solid #dddddd;
    text-align: left;
    padding: 8px;   
}

tr:hover {
    background: #730e4749 !important;
}

.paginacion{
    padding: 10px;
    margin: 1rem 0;
    text-align: center
}

.paginacion a{
    padding: 0 10px;
    text-decoration: none;
    color: var(--color-principal);
}

.paginacion a:hover{
    color: #fa4d27;
}

#pagina-actual{
    box-shadow: 2px 2px 3px 0px #bfbfbf;
    border-radius: 10px;
    background: #730e47;
    color: white;
}


.table-options{
    width:80px;
    text-align: center !important;
}

.table-options a{
    text-decoration: none;
}

.icon{
    width:25px;
}

footer{
    position:absolute;
    bottom:0;
    padding:10px 0;
    background: #333;
    width: 100%;
    color:#fff;
}

footer p{
    text-align: center;
}

footer a{
    color:white;
}
 
footer a:hover{
    color:#b85121;
}

.container{
    display: flex;
    justify-content: center;
    margin-bottom:20px;
    padding:1rem;
}

.form{
    background-color: white;
    justify-content: center;
    padding:48px 40px 36px;
    border-radius: 8px;
    border: 1px solid #dadce0;
    border-top:4px solid var(--color-principal);
    box-shadow: 0 4px 8px 0 rgba(224, 224, 224, 0.8);
    width:400px;
}

.form-login, .form-registro{
    margin-top:10vh;
}

.form h1{
    text-align: center;
}

.form img{
    display: block;
    margin:0 auto;
    padding-bottom:15px;
}


.form-label{ 
    display:block;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    margin-top:15px;
    margin-bottom:5px;
}

.input-group input{
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.form-footer{
    padding-top:2rem;
    display: flex;
    justify-content:space-between;
}

.submit-button{
    background-color:var(--color-principal);
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent; 
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    text-decoration: none;
}

.form-footer a{
    align-self: flex-end;
    text-decoration: none;
    color: var(--color-principal);
}

.alert{
    padding: 10px;
    border-radius: 4px;
    margin:15px 0;
}

.success{
    background: #cae0d6;
    border: 1px solid #b5c6be;
    color: #232625;    
}

.error{
    background: #f7bcbc;
    border: 1px solid #d0a1a1;
    color: #312525;
}

.text-center{
    text-align: center;
}


@media (max-width:1023px) {
    .table{
        width: 100%;
        overflow-x: auto;
    }

    .form{
        margin-top:2vh;
    }

    #menu{
        margin-bottom:2vh;
    }
}


